{% extends 'base.html.twig' %}

{% block title %}Link not found{% endblock %}

{% block body %}
    <h1>This link not found</h1>
    <p>Sorry, but this link is not found. Please, check your link.</p>
    <p>or generate a new short link following link below</p>
    <a href="{{ path('app_index') }}">Generate new link</a>
{% endblock %}