{% extends 'base.html.twig' %}

{% block title %}Url shortener{% endblock %}

{% block body %}
    <h2>Short your url</h2>

    <form id="shortUrlForm" class="form-inline mt-3">
        <div class="form-group mb-2 d-flex align-items-end justify-content-around">
            <div class="col-sm-8">
                <input type="text" class="form-control" name="url" id="urlInput" placeholder="Enter your URL" required>
            </div>
            <div class="col-sm-2">
                <label for="expirationSelect">Time to Live:</label>
                <select class="form-control" name="daysToLive" id="daysToLive">
                    <option value="1">1 Day</option>
                    <option value="7">1 Week</option>
                    <option value="30">1 Month</option>
                </select>
            </div>
            <div class="col-sm-1 d-flex justify-content-center">
                <button style="margin: 0!important;" type="submit" class="btn btn-primary mb-2">Short</button>
            </div>
        </div>
    </form>

    <div id="responseContainer"></div>
    <div id="linkForStats"></div>

    <p class="mt-5">To see stats of your short link you need to add /stats in the end of your link</p>
    <p>For example if you short link is http://localhost:8080/aaaaaae to see stats you link will be http://localhost:8080/aaaaaae/stats</p>

    <script>
        document.getElementById('shortUrlForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const urlInput = document.getElementById('urlInput').value;
            const daysToLiveValue = document.getElementById('daysToLive').value;

            const formData = {
                url: urlInput,
                daysToLive: +daysToLiveValue
            };

            fetch('{{ path('app_short_url') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: JSON.stringify(formData),
            })
                .then(response => response.json())
                .then(data => {
                    const responseContainer = document.getElementById('responseContainer');
                    if (data.errors) {
                        responseContainer.innerHTML = 'Error: ' + data.errors.join(', ');
                        responseContainer.style.color = 'red';
                    } else {
                        const linkForStats = document.getElementById('linkForStats');
                        responseContainer.innerHTML = "Your short link is: " +  data.shortUrl;
                        responseContainer.style.color = 'green';
                        linkForStats.innerHTML = `<a href="${data.shortUrl}/stats">Show short link stats</a>`;
                    }
                })
        });
    </script>
{% endblock %}
