{% extends 'base.html.twig' %}

{% block title %}Url shortener{% endblock %}

{% block body %}
    <h2>Short your url</h2>

    <form id="shortUrlForm">
        <input type="text" name="url" id="urlInput" placeholder="Enter your url">
        <button type="submit">Short</button>
    </form>

    <div id="responseContainer"></div>
    <div id="linkForStats"></div>

    <p>To see stats of your short link you need to add /stats in the end of your link</p>
    <p>For example if you short link is http://localhost:8080/aaaaaae to see stats you link will be http://localhost:8080/aaaaaae/stats</p>

    <script>
        document.getElementById('shortUrlForm').addEventListener('submit', function(event) {
            event.preventDefault();

            var urlInput = document.getElementById('urlInput').value;

            fetch('{{ path('app_short_url') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'url=' + encodeURIComponent(urlInput),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.errors) {
                        const errorContainer = document.getElementById('responseContainer');
                        errorContainer.innerHTML = 'Error: ' + data.errors.join(', ');
                    } else {
                        const responseContainer = document.getElementById('responseContainer');
                        const linkForStats = document.getElementById('linkForStats');
                        responseContainer.innerHTML = data.shortUrl;
                        linkForStats.innerHTML = `<a href="${data.shortUrl}/stats">Show short link stats</a>`;
                    }
                })
        });
    </script>
{% endblock %}
