{% extends 'base.html.twig' %}

{% block title %}Url shortener{% endblock %}

{% block body %}
    <h2>Short your url</h2>

    <form id="shortUrlForm">
        <input type="text" name="url" id="urlInput" placeholder="Enter your url">
        <button type="submit">Short</button>
    </form>

    <div id="responseContainer"></div>

    <script>
        document.getElementById('shortUrlForm').addEventListener('submit', function(event) {
            event.preventDefault();

            var urlInput = document.getElementById('urlInput').value;

            fetch('{{ path('app_short_url') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'url=' + encodeURIComponent(urlInput),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.errors) {
                        var errorContainer = document.getElementById('responseContainer');
                        errorContainer.innerHTML = 'Error: ' + data.errors.join(', ');
                    } else {
                        var responseContainer = document.getElementById('responseContainer');
                        responseContainer.innerHTML = data.shortUrl;
                    }
                })
                .catch(error => {
                    var errorContainer = document.getElementById('responseContainer');
                    errorContainer.innerHTML = 'Error: ' + error.message;
                });
        });
    </script>
{% endblock %}
