{% extends 'base.html.twig' %}

{% block title %}Url stats{% endblock %}

{% block body %}
    <h1>Url stats</h1>
    <p class="full-link">Full link: {{ fullLink }}</p>
    <p class="short-link">Short link: {{ shortLink }}</p>
    <p class="clicks">Clicks: {{ clicks }}</p>
{% endblock %}