{% extends 'base.html.twig' %}

{% block title %}Url stats{% endblock %}

{% block body %}
    <h1>Url stats</h1>
    <p>Full link: {{ fullLink }}</p>
    <p>Short link: {{ shortLink }}</p>
    <p>Clicks: {{ clicks }}</p>
{% endblock %}